
<table width=100%>
  <tr>
    <td width=33%>
      <a href="/up" style="font-size:98px" target="invisi">+</a>
    </td>
        <td width=33%>
      <a href="/down"  style="font-size:98px"  target="invisi">-</a>
    </td>
        <td width=33%>
      <a href="/zero"  style="font-size:98px"  target="invisi">0</a>
    </td>
  </tr>
</table>
<iframe name="invisi">
</iframe>
